<div class="row col-md-12 px-5">
  <div class="col-md-12 float-right">
    <%= link_to 'Create Battings', new_admin_batting_average_path, class: 'btn btn-success float-right my-5' %>
  </div>
  <% if @batting_averages.any? %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" width="5%" %>#</th>
            <th scope="col" width="20%" >PlayerID</th>
            <th scope="col" width="20%" >YearID</th>
            <th scope="col" width="20%" >Team Name(s)</th>
            <th scope="col" width="20%" >Batting Average</th>
            <th scope="col" width="20%" >Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @batting_averages.each_with_index do |ba, index|%>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ba.player_id %></td>
              <td><%= ba.year_id %></td>
              <td><%= ba.team_name %></td>
              <td><%= ba.average_batting %></td>
              <td>
                <%= link_to admin_batting_average_path(ba), method: :delete,  data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-danger" do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% else %>
    <h1>No Battings Here!</h1>
  <% end %>
</div>
