<% if battings.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="5%" %>#</th>
        <th scope="col" width="20%" >PlayerID</th>
        <th scope="col" width="20%" >YearID</th>
        <th scope="col" width="20%" >Team Name(s)</th>
        <th scope="col" width="20%" >Batting Average</th>
      </tr>
    </thead>
    <tbody>
      <% battings.each_with_index do |b, index|%>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= b.player_id %></td>
          <td><%= b.year_id %></td>
          <td><%= b.team_name %></td>
          <td><%= b.average_batting %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Batting Averages Here!
<% end %>
